html {
    font-family: "manrope";
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
}

#header {
    border: none;
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./imagens/bacakground.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#headerContent {
    width: 37.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}
 
h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

button {
    background-color: #F84646;
    color: white;
    font-weight: 500;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.container{
    padding: 5rem 7.5rem;
    text-align: center;
    justify-content: center;
}

.qualityTiltle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactTitle{
    margin-top: .5px;
}

.container p {
    margin-top: 1.5rem;
}

.container button {
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s;
}

.container button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.background-gradient{
    background: linear-gradient(180deg, #fff, #d9d9d9)
}

.backgroundred{
    background-color: #F84646;
    color: #fff;

}

.backgroundgrey{
    background-color: #F4F5F7;  
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 4rem;
}

#content > img{
    margin: 0 2.5rem;

}

.articleDetails{
    display: flex;  
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 2.5rem;
}

.articleContainer{
    display: flex;
    justify-content: center;
}

.articleContainer p{
    color: #808080;
    line-height: 2rem;
}

.articleContainer img{
    width: 50%;
}

.articleContainer:nth-child(even){
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20 0 2.5rem;
}

.articleDetailsLeft{
    display: flex;  
    flex-direction: column;
    text-align:justify;
    align-items:baseline;
    margin-left: 5rem;
    justify-content: space-between;
}


.articleContainer button{
    font-size: 1rem;
}

.footerList {
    display: flex;
    text-align: left;
    column-gap: 3rem;
    justify-content:space-around;
}

.footerList > ul > li{
    list-style:  none;
    margin-bottom: 1rem;
}

.footerList > ul > li:last-child {
    margin-bottom: 0;
}

.footerList > ul > li:first-child {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

#footerCopyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.5rem;
}

.gridContainer{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 7.5rem;
}

.gridItem > h3{
 margin-top: .5rem;
}

.gridItem > p{
    margin: .5rem 0 0;
}

#gridText{
 margin-bottom: 5.7rem;
}

.grid-container-companies {
    display: grid;
    row-gap: 1.5rem; 
    column-gap: 1.5rem;
    max-width: 100%; 
    margin: 3rem auto; 
    padding: 0 1rem; 
    justify-content: center; 
}

.grid-item-companies {
    background-color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 11rem; 
    height: 6rem;
    border-radius: 0.8rem; 
    box-shadow: 0  0.1rem 0.3px rgba(0, 0, 0, 0.1)
}


.company1{
    grid-area: 1/3;

}

.company2{
    grid-area: 2/2;
}

.company3{
    grid-area: 2/3;
}

.company4{
    grid-area: 2/4;
}

.company5{
    grid-area: 3/1;
}

.company6{
    grid-area: 3/2;
}

.company7{
    grid-area: 3/3;
}

.company8{
    grid-area: 3/4;
}

.company9{
    grid-area: 3/5;
}







@media only screen and (min-width: 768px) and (max-width: 1023px) { 
        
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .gridContainer{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }


    .articleContainer img{
        width: 100%;
    }

    .gridContainer{
        display: grid;
        grid-template-columns:auto;
        gap: 7.5rem;
    }


    .grid-container-companies {
        display: grid;
        row-gap: 1.5rem; 
        column-gap: 1.5rem;
        max-width: 100%; 
        margin: 3rem auto; 
        padding: 0 1rem; 
        justify-content: center; 
    }
    
    .grid-item-companies {
        background-color: white;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 11rem; 
        height: 6rem;
        border-radius: 0.8rem; 
        box-shadow: 0  0.1rem 0.3px rgba(0, 0, 0, 0.1)
    }
    
    
    .company1{
        grid-area: auto;
    
    }
    
    .company2{
        grid-area: auto;
    }
    
    .company3{
        grid-area: auto;
    }
    
    .company4{
        grid-area: auto;
    }
    
    .company5{
        grid-area: auto;
    }
    
    .company6{
        grid-area: auto;
    }
    
    .company7{
        grid-area: auto;
    }
    
    .company8{
        grid-area: auto;
    }
    
    .company9{
        grid-area: auto;
    }
    
    
    
    

}







@media only screen and (max-width:767px) {
   
    h1 {
        font-size: 2rem;
    }

    .gridContainer{
        display: grid;
        grid-template-columns:1fr;
    }

    h2 {
        font-size: 1.5rem;
    }
 
    #content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    #content > img{
        transform: rotate(90deg);
        margin: 2rem 0;
    }

    .articleContainer{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .articleContainer:nth-child(even){
        flex-direction: column-reverse;
    }

    .articleDetails{
        text-align: center;
        align-items: normal;
        margin: 2rem 0 2rem 0;
    }

    .articleDetailsLeft{
        text-align: center;
        align-items: normal;
        margin: 2rem 0 2rem 0;
    }


    .grid-container-companies {
        display: grid;
        row-gap: 1.5rem; 
        column-gap: 1.5rem;
        max-width: 100%; 
        margin: 3rem auto; 
        padding: 0 1rem; 
        justify-content: center; 
    }
    
    .grid-item-companies {
        background-color: white;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 11rem; 
        height: 6rem;
        border-radius: 0.8rem; 
        box-shadow: 0  0.1rem 0.3px rgba(0, 0, 0, 0.1)
    }
    
    
    .company1{
        grid-area: auto;
    
    }
    
    .company2{
        grid-area: auto;
    }
    
    .company3{
        grid-area: auto;
    }
    
    .company4{
        grid-area: auto;
    }
    
    .company5{
        grid-area: auto;
    }
    
    .company6{
        grid-area: auto;
    }
    
    .company7{
        grid-area: auto;
    }
    
    .company8{
        grid-area: auto;
    }
    
    .company9{
        grid-area: auto;
    }
    
    
    
    

    
  
}






